.buttonWrapper {
    text-align: right;
}

.button {
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 3px;
    font-size: 22px;
    color: #fff;
    display: inline-block;
    padding: 3px 15px;
    
}