@import './variables.scss';
@import './mixins.scss';

h1, h2, h3,
h4, h5, h6 {
    font-family: $font-family-semibold;
    line-height: 1;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

h1 {

    font-size: 100px;
    letter-spacing: -1px;

    @include breakpoint(lg) {
        font-size: 70px;
    }

    @include breakpoint(md) {
        font-size: 60px;
    }

    @include breakpoint(sm) {
        font-size: 35px;
    }

}

h2 {
    font-size: 22px;
}

h3 {

    font-size: 18px;

    @include breakpoint(lg) {
        font-size: 14px;
    }

}

h4 {
    font-size: 12px;
    font-family: $font-family-regular;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

a {

    @include link-color($color-link-default, $color-link-hover, none, underline);
	transition: all .2s ease;

	&:focus {
		outline: none;
	}

}

p {

    font-size: 18px;
    line-height: 1.5;
    margin: 0;

    @include breakpoint(lg) {
        font-size: 14px;
    }
    
}