// Font
$font-family-regular: 'SuisseIntl-Regular', sans-serif;
$font-family-semibold: 'SuisseIntl-SemiBold', sans-serif;
$font-family-bold: 'SuisseIntl-Bold', sans-serif;
$font-size-default: 18px;

// Default Colors
$color-background: '#fff';
$color-text: #000;
$color-text-light: #fff;
$color-link-default: #4D81FC;
$color-link-hover: #F27C80;
$color-form-error: #F73032;

// Social Colors
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-pinterest: #bd081c;
$color-linkedin: #0077b5;
$color-googleplus: #dd4b39;
$color-instagram: #833ab4;

// Margins
$margin: 20px;
$padding: 20px;

// Image path
$image-path: '../assets/images/';

// Retina image suffix
$image-suffix: '-2x';

// Font path
$font-path: '../assets/fonts';

// Grid
$grid-columns: 24;
$grid-column-gutter: 30px;

// // break points
$xs: 576px;
$sm: 834px;
$md: 1366px;
$lg: 1920px;
