@import '../../styles/mixins.scss';

.icon {

    border: 1px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-left: 20px;

    @include breakpoint(sm) {
        margin-bottom: 10px;
    }

    &.twitter {
        @include background-image(twitter-icon, svg, 25px 25px, center, no-repeat);
    }
    
    &.discord {
        @include background-image(discord-icon, svg, 25px 25px, center, no-repeat);
    }

}
